body{ background:url(image.jpg); background-size:cover ; } .amader-form{ width:500px;
background-color:green; padding:20px; margin:200px auto;} .amader-form input{ display:block;
border:1px solid blue; font-size:20px;border-radius:20px;padding:10px; } .amder-form
leval{ color:#fff; display :block; padding:5px; } .amder-form input[type=submit]{
margin-top:10px; cursor:pointer; } .log a{ style:none;}

<!--
Visual Code Mobile
Developed By Manish Nirmal
App Available on Play Store :-
https://play.google.com/store/apps/details?id=lk.visual.code.mobile
YouTube :-
https://youtube.com/ManishNirmal
-->